.todo-item{
    height: 1.2rem;
    font-size: .8rem;
    padding: 1rem 1.2rem;
    list-style: none;
    border-bottom: 1px solid $light-grayish-2;
    background-color:  #fff;
    overflow: hidden;
   
    display: flex;
    align-items: center;

    &:first-of-type{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .check{
        position: relative;
        
        #toggle-complete{
            opacity: 0;
            width: 20px;
            margin-right: 1rem;
            position: relative;

            &:checked + label{
                background:$color-check padding-box,
                $color-check border-box;
                svg{
                    display: block;
                }
            }

           
        }

        label{
            position: absolute;
            top:-3px;
            width: 1.2rem;
            height: 1.2rem;
            border: 1px solid $light-grayish-2;
            border-radius: 50%;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            @media only screen and (min-width: $phone), 
            only screen and (hover){
                &:hover{
                    background:linear-gradient(#fff, #fff) padding-box,
                    $color-check border-box;
                    border: 1px solid transparent;
                }
            }

            svg{
                display: none;
            }
        }      
    }

    p{
        flex: 1;
        line-height: 1.5;
        translate: 0 2px;
    }


    #urgent{
        display: none;
    }

    .urgent-label{
        width: 18px;
        height: 18px;
        cursor: pointer;
        color: $light-grayish-3;

        @media only screen and (min-width: $phone), 
        only screen and (hover){
            &:hover{
                color: $light-grayish-2;
            }
        }
        
        &:active,
        &:focus{
            color: red;
        }
    }

    #urgent:checked + .urgent-label{
        color: red;
    }

    button{   
        transform: translateY(2px);
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 15px;

        @media only screen and (min-width: $phone), 
        only screen and (hover){
            &:hover{
                color: $light-grayish-3;
            }
        }
    }
} 