// Primary color
$color-bright-blue: hsl(220, 98%, 61%);
$color-check: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light Theme
$light-gray: #fafafa;
$light-grayish-1: #e4e5f1;
$light-grayish-2: #d2d3db;
$light-grayish-3: #9394a5;
$light-grayish-4: #484b6a;

// Dark theme
$dark-blue-1: #161722;
$dark-blue-2: #25273c;
$dark-grayish-blue-hover: #e4e5f1;
$dark-grayish-blue-1: #cacde8;
$dark-grayish-blue-2: #777a92;
$dark-grayish-blue-3: #4d5066;
$dark-grayish-blue-4: #393a4c;

$font-display: 'Josefin Sans', sans-serif;